In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.options.mode.chained_assignment = None  # default='warn'
import os
from modules.TravelSurveyAnalysis import TravelSurveyAnalysis

if 'TravelSurvey' in os.getcwd():
    data_folder = '../../data/'
elif 'data_analysis' in os.getcwd():
    data_folder = '../data/'
else:
    data_folder = './data/'

source_folder_path = data_folder + 'OD/OD_1987/'
destination_folder_path = data_folder + 'OD/OD_1987/'

In [2]:
expansion_factor_trip = 'FE_VIA'
expansion_factor_person = 'FE_PESS'
municipality_origin_column = 'MUNIORIG'
municipality_destination_column = 'MUNIDEST'
residence_column = 'MUNI_DOM'

tsa = TravelSurveyAnalysis(source_folder_path, destination_folder_path,
                           expansion_factor_trip, expansion_factor_person,
                           municipality_origin_column, municipality_destination_column, residence_column)

In [3]:
original_filename = 'OD_1987.csv'

In [4]:
'''
Run in the first time for file treatment. If the file '{original_filename}_treated.csv'
already exists on the source folder path, it's not necessary
'''
# tsa.treat_csv_file_generated_from_dbf_and_save(original_filename)

"\nRun in the first time for file treatment. If the file '{original_filename}_treated.csv'\nalready exists on the source folder path, it's not necessary\n"

In [5]:
filename = original_filename[:-4] + '_treated.csv'

data = tsa.read_data(filename)

In [6]:
data

,ZONA,SZ,SZSEQ,MUNI_DOM,FAIXA,ID_DOM,F_DOM,FE_DOM,DOMICIL,DATA,TIPO_DOM,FAM_DOM,F_FAM,FE_FAM,FAMILIA,CD_ENTRE,TP_RBAIR,CONDMORA,ALUG_SM,VALUGUEL,INS_CHEF,QT_TV,QT_RADIO,QT_BANHO,QT_AUTO,QT_EMPRE,QT_ASPIR,QT_MLAVA,ABAABIPE,PONTOABA,RENDA_FA,CD_RENFA,RENDATRI,CD_RATRI,TOT_PESS,TOT_V_FA,F_PESS,FE_PESS,PESSOA,SIT_FAM,IDADE,FXETOD,SEXO,ESTUDA,GRAU_INS,CLAS_ATI,SET_ATIV,OCUPACAO,CD_REN_I,VL_REN_I,FX_REN_I,VREN_IND,ZONAESC,SZESCOLA,SZESEQ,MUNIESC,ZONATRA1,SZTRAB1,SZT1SEQ,MUNITRA1,ZONATRA2,SZTRAB2,SZT2SEQ,MUNITRA2,VIG_PESS,F_VIA,FE_VIA,DIA_SEM,ZONA_O,SZO,SZOSEQ,MUNIORIG,ZONA_D,SZD,SZDSEQ,MUNIDEST,MOTIVO_O,MOTIVO_D,MOT_SRES,MODO1,MODO2,MODO3,H_SAIDA,MINSAIDA,ANDA_O,H_CHEG,MINCHEG,ANDA_D,ESTAC,DURACAO,MODOPRIN,TIPO_VG,ID_ORDEM
0,1,6,6,1,1,11 143210001 343,1,16.72,343,50588,1,1,1,16.72,1,6,9,3,0,690,3,1,1,1,0,0,0,1,3,10,0,2,15231.18,2,1,2,1,16.72,1,1,40,9,2,2,3,4,2,14,2,0,0,0,0,0,0,0,13,2,56,1,0,0,0,0,2,1,21.03,6,1,6,6,1,43,1,229,1,9,6,6,1,1,0,11,0,2,12,15,1,0,75,1,1,1
1,1,6,6,1,1,11 143210001 343,0,16.72,343,50588,1,1,0,16.72,1,6,9,3,0,690,3,1,1,1,0,0,0,1,3,10,0,2,15231.18,2,1,2,0,16.72,1,1,40,9,2,2,3,4,2,14,2,0,0,0,0,0,0,0,13,2,56,1,0,0,0,0,2,1,21.03,6,43,1,229,1,1,6,6,1,6,9,6,1,1,0,13,0,1,13,50,2,0,50,1,1,2
2,1,6,6,1,1,11 143210001 344,1,16.72,344,51287,1,1,1,16.72,1,5,8,1,0,0,1,1,1,1,0,0,0,1,4,7,0,2,13089.56,2,2,0,1,16.72,1,1,35,8,1,2,1,8,3,31,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3
3,1,6,6,1,1,11 143210001 344,0,16.72,344,51287,1,1,0,16.72,1,5,8,1,0,0,1,1,1,1,0,0,0,1,4,7,0,2,13089.56,2,2,0,1,16.72,2,2,28,7,2,2,1,10,4,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4
4,1,6,6,1,1,11 143210001 345,1,16.72,345,51287,1,1,1,16.72,1,5,16,1,0,0,1,1,1,1,0,0,0,0,4,5,0,2,11831.85,2,1,0,1,16.72,1,1,66,11,1,2,1,7,3,12,2,0,0,0,0,0,0,0,1,6,6,1,0,0,0,0,0,0,0.00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223921,204,2,962,1,4,2044 1111992041048,0,273.29,1048,300488,1,1,0,273.29,1,6,7,1,0,0,1,1,1,1,0,0,0,0,4,5,2520,3,2520.00,3,3,10,0,273.29,2,3,14,4,1,1,2,8,3,32,3,1,1,1260,204,2,962,1,204,2,962,1,112,4,551,1,6,1,343.58,6,112,4,551,1,204,2,962,1,3,9,3,1,0,0,14,40,1,14,50,2,0,10,1,1,223922
223922,204,2,962,1,4,2044 1111992041048,0,273.29,1048,300488,1,1,0,273.29,1,6,7,1,0,0,1,1,1,1,0,0,0,0,4,5,2520,3,2520.00,3,3,10,0,273.29,2,3,14,4,1,1,2,8,3,32,3,1,1,1260,204,2,962,1,204,2,962,1,112,4,551,1,6,1,343.58,6,204,2,962,1,204,2,962,1,9,4,4,13,0,0,15,0,0,15,15,0,0,15,13,3,223923
223923,204,2,962,1,4,2044 1111992041048,0,273.29,1048,300488,1,1,0,273.29,1,6,7,1,0,0,1,1,1,1,0,0,0,0,4,5,2520,3,2520.00,3,3,10,0,273.29,2,3,14,4,1,1,2,8,3,32,3,1,1,1260,204,2,962,1,204,2,962,1,112,4,551,1,6,1,343.58,6,204,2,962,1,204,2,962,1,4,9,4,13,0,0,17,0,0,17,15,0,0,15,13,3,223924
223924,204,2,962,1,4,2044 1111992041048,0,273.29,1048,300488,1,1,0,273.29,1,6,7,1,0,0,1,1,1,1,0,0,0,0,4,5,2520,3,2520.00,3,3,10,1,273.29,3,3,15,5,2,1,2,10,4,1,1,0,0,0,204,2,962,1,0,0,0,0,0,0,0,0,2,1,343.58,6,204,2,962,1,204,2,962,1,9,3,3,13,0,0,15,10,0,15,15,0,0,5,13,3,223925
223925,204,2,962,1,4,2044 1111992041048,0,273.29,1048,300488,1,1,0,273.29,1,6,7,1,0,0,1,1,1,1,0,0,0,0,4,5,2520,3,2520.00,3,3,10,0,273.29,3,3,15,5,2,1,2,10,4,1,1,0,0,0,204,2,962,1,0,0,0,0,0,0,0,0,2,1,343.58,6,204,2,962,1,204,2,962,1,4,9,4,13,0,0,19,20,0,19,25,0,0,5,13,3,223926

In [7]:
data[expansion_factor_trip].sum()

29399600.740000002

In [8]:
municipality_origin_column = 'MUNIORIG'
municipality_destination_column = 'MUNIDEST'

In [9]:
tsa.calculate_distribution(data, municipality_origin_column, False)

     MUNIORIG
1   55.562552
0   18.223878
7    3.440422
21   3.340836
23   3.038504
32   2.710717
14   1.405375
24   1.216473
22   1.185213
18   1.007922
33   0.823933
34     0.7565
30    0.59216
26   0.578316
10   0.563132
13   0.435412
28   0.428713
27    0.41219
19   0.390754
36   0.317516
11   0.315283
12   0.284469
25   0.278217
35   0.259461
4    0.238025
37   0.229094
9    0.205425
2    0.204532
3    0.200959
6    0.185329
8     0.17863
5    0.170592
29   0.166573
17   0.132187
20   0.122362
16    0.11745
15   0.117003
31   0.105839
38   0.058055

In [10]:
tsa.calculate_distribution(data, municipality_origin_column, expansion_factor_trip)

             FE_VIA
MUNIORIG
0          0.000000
1         68.111341
2          0.164492
3          0.219724
4          0.442060
5          0.246847
6          0.228239
7          4.292309
8          0.158583
9          0.225364
10         0.717839
11         0.411285
12         0.379854
13         0.633937
14         1.739680
15         0.066429
16         0.082468
17         0.070661
18         1.343947
19         0.465739
20         0.105890
21         4.160723
22         1.393543
23         4.148677
24         1.810360
25         0.170019
26         0.708432
27         0.512463
28         0.435217
29         0.098235
30         0.441316
31         0.067133
32         3.379617
33         1.045336
34         0.716859
35         0.280393
36         0.347412
37         0.142505
38         0.035069

In [11]:
# In OD 1987, the city of São Paulo was municipality number 1

# data_sp = data[(data[municipality_origin_column] == 1) & (data[municipality_destination_column] == 1)]
data_sp = tsa.select_city_data(data, 1, residence=False)

In [12]:
data_sp[expansion_factor_trip].sum()

18681077.130000003

## Mode share

Columns correspondence:

01 - Ônibus

02 - Ônibus Fretado

03 - Transporte Escolar

04 - Dirigindo Automóvel

05 - Passageiro de Automóvel

06 - Táxi

07 - Lotação/Perua

08 - Metrô

09 - Trem

10 - Moto

11 - Bicicleta

12 - A Pé

13 - Outros

In [13]:
extended_mode_column = 'MODOPRIN'
extended_mode_index_map = {1: '1 - Ônibus Diesel', 2: '2 - Trólebus', 3: '3 - Ônibus Fretado',
                  4:'4 - Escolar', 5: '5 - Dirigindo Automóvel',
                  6: '6 - Passageiro de Automóvel', 7: '7 - Táxi', 8: '8 - Lotação/Perua',
                  9: '9 - Metrô', 10: '10 - Trem', 11: '11 - Moto',
                  12:'12 - Bicicleta', 13: '13 - A Pé', 14: '14 - Caminhão', 15: '15 - Outros'}
df_modes = tsa.calculate_distribution(data, extended_mode_column, expansion_factor_trip, extended_mode_index_map)
df_modes

                                FE_VIA
MODOPRIN_new
1 - Ônibus Diesel            23.611022
10 - Trem                     3.031432
11 - Moto                     0.615539
12 - Bicicleta                0.367286
13 - A Pé                    36.225015
14 - Caminhão                 0.442408
15 - Outros                   0.193499
2 - Trólebus                  0.446384
3 - Ônibus Fretado            2.223999
4 - Escolar                   1.189004
5 - Dirigindo Automóvel      17.143687
6 - Passageiro de Automóvel   9.067973
7 - Táxi                      0.385626
8 - Lotação/Perua             0.086402
9 - Metrô                     4.970723

In [14]:
collective_filter = ['1 - Ônibus Diesel', '2 - Trólebus', '3 - Ônibus Fretado',
                    '4 - Escolar', '8 - Lotação/Perua', '9 - Metrô', '10 - Trem']

individual_filter = ['5 - Dirigindo Automóvel', '6 - Passageiro de Automóvel',
                    '7 - Táxi', '11 - Moto', '14 - Caminhão', '15 - Outros']
walk_filter = ['13 - A Pé']
bike_filter = ['12 - Bicicleta']

In [15]:
mode_column = 'TIPO_VG'
mode_index_map = {1: 'Collective', 2: 'Individual', 3: 'On foot'}
tsa.calculate_distribution(data, mode_column, expansion_factor_trip, mode_index_map)

                FE_VIA
TIPO_VG_new
Collective   35.558966
Individual   28.216019
On foot      36.225015

In [16]:
df_modes.loc[collective_filter].sum()

FE_VIA    35.558966
dtype: float64

In [17]:
df_modes.loc[individual_filter].sum() + df_modes.loc[bike_filter].sum()

FE_VIA    28.216019
dtype: float64

In [18]:
df_modes.loc[walk_filter].sum()

FE_VIA    36.225015
dtype: float64

In [19]:
personalized_mode_index_map = {}

for item in collective_filter:
    personalized_mode_index_map[item] = 'Collective'
for item in individual_filter:
    personalized_mode_index_map[item] = 'Individual'
for item in walk_filter:
    personalized_mode_index_map[item] = 'On foot'
for item in bike_filter:
        personalized_mode_index_map[item] = 'Bicycle'

personalized_mode_index_map

{'1 - Ônibus Diesel': 'Collective',
 '2 - Trólebus': 'Collective',
 '3 - Ônibus Fretado': 'Collective',
 '4 - Escolar': 'Collective',
 '8 - Lotação/Perua': 'Collective',
 '9 - Metrô': 'Collective',
 '10 - Trem': 'Collective',
 '5 - Dirigindo Automóvel': 'Individual',
 '6 - Passageiro de Automóvel': 'Individual',
 '7 - Táxi': 'Individual',
 '11 - Moto': 'Individual',
 '14 - Caminhão': 'Individual',
 '15 - Outros': 'Individual',
 '13 - A Pé': 'On foot',
 '12 - Bicicleta': 'Bicycle'}

In [20]:
convert_to_new_mode_index_map = {1: 1, 2: 1, 3: 5, 4: 5, 5: 2, 6: 2, 7: 2, 8: 5, 9: 1, 10: 1, 11: 5, 12: 3,
                                 13: 4, 14: 5, 15: 5}
new_mode_index_map = {1: 'Public Transportation', 2: 'Car', 3: 'Bicycle', 4: 'On foot', 5: 'Other'}

In [21]:
new_mode_column = extended_mode_column + '_reduced'
data_sp[new_mode_column] = data_sp[extended_mode_column].map(convert_to_new_mode_index_map)

In [22]:
df = tsa.calculate_distribution(data_sp, new_mode_column, expansion_factor_trip, new_mode_index_map)
df

                          FE_VIA
MODOPRIN_reduced_new
Bicycle                 0.220216
Car                    28.953332
On foot                35.359918
Other                   3.202233
Public Transportation  32.264300

In [23]:
df = tsa.calculate_distribution(data_sp, extended_mode_column, expansion_factor_trip, extended_mode_index_map)
df

                                FE_VIA
MODOPRIN_new
1 - Ônibus Diesel            23.677539
10 - Trem                     1.341058
11 - Moto                     0.585376
12 - Bicicleta                0.220216
13 - A Pé                    35.359918
14 - Caminhão                 0.339647
15 - Outros                   0.194876
2 - Trólebus                  0.669955
3 - Ônibus Fretado            0.790146
4 - Escolar                   1.218978
5 - Dirigindo Automóvel      18.627636
6 - Passageiro de Automóvel   9.797567
7 - Táxi                      0.528129
8 - Lotação/Perua             0.073211
9 - Metrô                     6.575748

In [24]:
df = tsa.calculate_distribution(data_sp, new_mode_column, expansion_factor_trip, new_mode_index_map, normalize=False)
df

                           FE_VIA
MODOPRIN_reduced_new
Bicycle                  41138.74
Car                    5408794.30
On foot                6605613.58
Other                   598211.71
Public Transportation  6027318.80

In [25]:
df.sum() == data_sp[expansion_factor_trip].sum()

FE_VIA    True
dtype: bool

In [25]:
df = tsa.calculate_distribution(data_sp, extended_mode_column, expansion_factor_trip, extended_mode_index_map, normalize=False)
df

                                 FE_VIA
MODOPRIN_new
1 - Ônibus Diesel            4423219.29
10 - Trem                     250524.14
11 - Moto                     109354.52
12 - Bicicleta                 41138.74
13 - A Pé                    6605613.58
14 - Caminhão                  63449.69
15 - Outros                    36404.89
2 - Trólebus                  125154.88
3 - Ônibus Fretado            147607.81
4 - Escolar                   227718.16
5 - Dirigindo Automóvel      3479843.07
6 - Passageiro de Automóvel  1830290.98
7 - Táxi                       98660.25
8 - Lotação/Perua              13676.64
9 - Metrô                    1228420.49

In [26]:
tsa.calculate_distribution(data_sp, mode_column, expansion_factor_trip, mode_index_map)

                FE_VIA
TIPO_VG_new
Collective   34.346635
Individual   30.293447
On foot      35.359918

In [27]:
pd.options.display.float_format = '{:.0f}'.format
tsa.calculate_distribution(data_sp, mode_column, expansion_factor_trip, mode_index_map, normalize=False)

             FE_VIA
TIPO_VG_new
Collective  6416321
Individual  5659142
On foot     6605614

In [28]:
pd.reset_option('display.float_format')