In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.options.mode.chained_assignment = None  # default='warn'
import os
from modules.TravelSurveyAnalysis import TravelSurveyAnalysis

if 'TravelSurvey' in os.getcwd():
    data_folder = '../../data/'
elif 'data_analysis' in os.getcwd():
    data_folder = '../data/'
else:
    data_folder = './data/'

source_folder_path = data_folder + 'OD/OD_1977/'
destination_folder_path = data_folder + 'OD/OD_1977/'

In [2]:
expansion_factor_trip = 'FE_VIA'
expansion_factor_person = 'FE_PESS'

tsa = TravelSurveyAnalysis(source_folder_path, destination_folder_path,
                           expansion_factor_trip, expansion_factor_person)

In [5]:
original_filename = 'od77_CD.csv'

In [7]:
'''
Run in the first time for file treatment. If the file '{original_filename}_treated.csv'
already exists on the source folder path, it's not necessary
'''
# tsa.treat_csv_file_generated_from_dbf_and_save(original_filename)

In [8]:
filename = original_filename[:-4] + '_treated.csv'

data = tsa.read_data(filename)

In [9]:
data

,ZONA,SUBZONA,MUNIRES,NOTA,CONGLOME,BOLSAO,SETORES,ID_DOM,F_DOM,FE_DOM,DOMICIL,TIPO_DOM,PESS_FAM,NAO_RES,CONDMORA,ALUGUEL,F_FAM,FE_FAM,NO_FAM,TOT_FAM,QT_AUTO,CODRENDF,REDFAM,F_PESS,FE_PESS,PESSOA,SIT_FAM,IDADE,SEXO,GRAU_INS,OCUPACAO,RAMOATIV,CO_REN_I,VL_REN_I,ZONAESC1,SUBESC1,MUNIESC1,ZONAESC2,SUBESC2,ZONATRA1,SUBTRA1,MUNITRA1,ZONATRA2,SUBTRA2,MUNITRA2,ID_VIAGE,FE_VIA,ZONAO,SUBOR,MUNIORIG,BOLSAOOR,SETOROR,ZONAD,SUBDES,MUNIDEST,BOLSAODE,SETORDE,MOTIVO_O,MOTIVO_D,MODO1,MODO2,MODO3,MODOPRIN,TIPO_VG,HSAIDA,MINSAIDA,ANDA_O,H_CHEG,MINCHEG,ANDA_D,DURACAO,TIPOESTC,CUSTOEST,PQNAOCAR,NUMVIAG,ORDEM
0,1,30,1,2,1,4,36,120001010101,1,24.66,1,1,2,0,3,700,1,24.66,1,1,0,0,5000,1,24.66,1,1,59,1,5,14,3,0,5000,0,0,0,0,0,35,497,1,0,0,0,1,36.00,1,30,1,4,36,15,306,1,1,2,10,1,1,0,0,1,1,8,30,1,8,45,1,15,0,0,0,1,1
1,1,30,1,2,1,4,36,120001010101,0,24.66,1,1,2,0,3,700,0,24.66,1,1,0,0,5000,0,24.66,1,1,59,1,5,14,3,0,5000,0,0,0,0,0,35,497,1,0,0,0,1,24.17,15,306,1,1,2,1,30,1,4,36,1,10,4,0,0,4,2,13,0,1,13,15,1,15,0,0,0,2,2
2,1,30,1,2,1,4,36,120001010101,0,24.66,1,1,2,0,3,700,0,24.66,1,1,0,0,5000,0,24.66,1,1,59,1,5,14,3,0,5000,0,0,0,0,0,35,497,1,0,0,0,1,24.66,1,30,1,4,36,1,18,1,4,36,10,1,11,0,0,11,3,16,30,0,16,45,0,15,0,0,0,3,3
3,1,30,1,2,1,4,36,120001010101,0,24.66,1,1,2,0,3,700,0,24.66,1,1,0,0,5000,0,24.66,1,1,59,1,5,14,3,0,5000,0,0,0,0,0,35,497,1,0,0,0,1,24.66,1,18,1,4,36,1,30,1,4,36,1,10,11,0,0,11,3,19,0,0,19,15,0,15,0,0,0,4,4
4,1,30,1,2,1,4,36,120001010102,0,24.66,1,1,2,0,3,700,0,24.66,1,1,0,0,5000,1,24.66,2,2,48,2,5,2,10,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230601,243,327,1,4,1,1,40,24340001040101,0,1.00,4,1,2,0,1,0,0,1.00,1,1,1,0,15000,0,1.00,1,1,24,1,9,55,3,0,15000,0,0,0,0,0,243,327,1,0,0,0,1,0.99,44,60,1,4,14,30,259,1,1,26,6,6,3,0,0,3,2,11,30,4,12,5,10,35,2,10,0,2,230602
230602,243,327,1,4,1,1,40,24340001040101,0,1.00,4,1,2,0,1,0,0,1.00,1,1,1,0,15000,0,1.00,1,1,24,1,9,55,3,0,15000,0,0,0,0,0,243,327,1,0,0,0,1,0.98,30,259,1,1,26,50,257,1,1,44,6,6,3,0,0,3,2,12,35,2,12,55,2,20,2,10,0,3,230603
230603,243,327,1,4,1,1,40,24340001040101,0,1.00,4,1,2,0,1,0,0,1.00,1,1,1,0,15000,0,1.00,1,1,24,1,9,55,3,0,15000,0,0,0,0,0,243,327,1,0,0,0,1,0.98,50,257,1,1,44,4,287,1,4,24,6,6,3,0,0,3,2,13,15,3,13,45,3,30,2,10,0,4,230604
230604,243,327,1,4,1,1,40,24340001040102,0,1.00,4,1,2,0,1,0,0,1.00,1,1,1,0,15000,1,1.00,2,2,24,2,5,2,10,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,230605
230605,243,327,1,4,1,1,40,24340001040102,0,1.00,4,1,2,0,1,0,0,1.00,1,1,1,0,15000,0,1.00,2,2,24,2,5,2,10,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,230606

In [10]:
data[expansion_factor_trip].sum()

21304180.279999997

In [11]:
municipality_origin_column = 'MUNIORIG'
municipality_destination_column = 'MUNIDEST'

In [12]:
tsa.calculate_distribution(data, municipality_origin_column, False)

     MUNIORIG
1   58.130751
0   19.052843
20   3.973878
23   3.308674
10   2.264902
6    1.873325
21   1.719816
16   1.627885
22   0.738923
18   0.737188
17   0.681249
15   0.597556
8    0.552024
14   0.511262
7    0.508226
13   0.479172
24   0.453588
5    0.395913
3    0.325664
9    0.284468
19   0.270158
25   0.245440
12   0.242405
26   0.240237
2    0.214218
4    0.210749
27   0.195572
11   0.163916

In [13]:
tsa.calculate_distribution(data, municipality_origin_column, expansion_factor_trip)

             FE_VIA
MUNIORIG
0          0.000000
1         75.084301
2          0.639409
3          0.167253
4          0.101233
5          0.629177
6          3.048879
7          0.282883
8          0.076801
9          0.082568
10         2.678726
11         0.037213
12         0.203696
13         0.210830
14         0.276952
15         0.447082
16         1.233962
17         1.001531
18         0.260118
19         0.053334
20         5.029889
21         2.171819
22         1.245799
23         4.104655
24         0.466946
25         0.336230
26         0.083008
27         0.045705

In [14]:
# In OD 1977, the city of São Paulo was municipality number 1

data_sp = data[(data[municipality_origin_column] == 1) | (data[municipality_destination_column] == 1)]

In [15]:
data_sp[expansion_factor_trip].sum()

16906567.910000004

## Mode share

Columns correspondence:

01 - Ônibus

02 - Ônibus Fretado

03 - Transporte Escolar

04 - Dirigindo Automóvel

05 - Passageiro de Automóvel

06 - Táxi

07 - Lotação/Perua

08 - Metrô

09 - Trem

10 - Moto

11 - Bicicleta

12 - A Pé

13 - Outros

In [16]:
mode_column = 'MODOPRIN'
mode_index_map = {1: '1 - Ônibus Trólebus', 2: '2 - Ônibus Escolar/Empresa', 3: '3 - Dirigindo Automóvel',
                  4:'4 - Passageiro de Automóvel', 5: '5 - Táxi',
                  6: '6 - Lotação/Perua', 7: '7 - Metrô', 8: '8 - Trem',
                  9: '9 - Motocicleta', 10: '10 - Bicicleta', 11: '11 - A Pé',
                  12: '12 - Outros'}
df_modes = tsa.calculate_distribution(data, mode_column, expansion_factor_trip, mode_index_map)
df_modes

                                FE_VIA
MODOPRIN_new
1 - Ônibus Trólebus          37.099253
10 - Bicicleta                0.331771
11 - A Pé                    28.025204
12 - Outros                   0.246174
2 - Ônibus Escolar/Empresa    2.817696
3 - Dirigindo Automóvel      15.298694
4 - Passageiro de Automóvel   8.566994
5 - Táxi                      2.401129
6 - Lotação/Perua             0.175337
7 - Metrô                     2.535568
8 - Trem                      2.338690
9 - Motocicleta               0.163491

In [23]:
collective_filter = ['1 - Ônibus Trólebus', '2 - Ônibus Escolar/Empresa',
                    '6 - Lotação/Perua', '7 - Metrô', '8 - Trem']

individual_filter = ['3 - Dirigindo Automóvel', '4 - Passageiro de Automóvel', '5 - Táxi',
                    '9 - Motocicleta', '12 - Outros']
walk_filter = ['11 - A Pé']
bike_filter = ['10 - Bicicleta']

In [24]:
mode_column = 'TIPO_VG'
type_index_map = {1: 'Collective', 2: 'Individual', 3: 'On foot'}
tsa.calculate_distribution(data, mode_column, expansion_factor_trip, type_index_map)

                FE_VIA
TIPO_VG_new
Collective   44.966543
Individual   27.008253
On foot      28.025204

In [25]:
df_modes.loc[collective_filter].sum()

FE_VIA    44.966543
dtype: float64

In [26]:
df_modes.loc[individual_filter].sum() + df_modes.loc[bike_filter].sum()

FE_VIA    27.008253
dtype: float64

In [27]:
df_modes.loc[walk_filter].sum()

FE_VIA    28.025204
dtype: float64

In [28]:
mode_index_map = {}

for item in collective_filter:
    mode_index_map[item] = 'Collective'
for item in individual_filter:
    mode_index_map[item] = 'Individual'
for item in walk_filter:
    mode_index_map[item] = 'On foot'
for item in bike_filter:
        mode_index_map[item] = 'Bicycle'

mode_index_map

{'1 - Ônibus Trólebus': 'Collective',
 '2 - Ônibus Escolar/Empresa': 'Collective',
 '6 - Lotação/Perua': 'Collective',
 '7 - Metrô': 'Collective',
 '8 - Trem': 'Collective',
 '3 - Dirigindo Automóvel': 'Individual',
 '4 - Passageiro de Automóvel': 'Individual',
 '5 - Táxi': 'Individual',
 '9 - Motocicleta': 'Individual',
 '12 - Outros': 'Individual',
 '11 - A Pé': 'On foot',
 '10 - Bicicleta': 'Bicycle'}

In [29]:
mode_column = 'MODOPRIN_new'
df = tsa.calculate_distribution(data, mode_column, expansion_factor_trip, mode_index_map)
df

                     FE_VIA
MODOPRIN_new_new
Bicycle            0.331771
Collective        44.966543
Individual        26.676482
On foot           28.025204

In [30]:
data_sp = data[(data[municipality_origin_column] == 1) | (data[municipality_destination_column] == 1)]

In [31]:
tsa.calculate_distribution(data_sp, mode_column, expansion_factor_trip, mode_index_map)

                     FE_VIA
MODOPRIN_new_new
Bicycle            0.244197
Collective        46.916741
Individual        28.090933
On foot           24.748128