In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.options.mode.chained_assignment = None  # default='warn'
import os
from modules.TravelSurveyAnalysis import TravelSurveyAnalysis

if 'TravelSurvey' in os.getcwd():
    data_folder = '../../data/'
elif 'data_analysis' in os.getcwd():
    data_folder = '../data/'
else:
    data_folder = './data/'

source_folder_path = data_folder + 'OD/OD_1997/'
destination_folder_path = data_folder + 'OD/OD_1997/'

In [2]:
expansion_factor_trip = 'FE_VIA'
expansion_factor_person = 'FE_PESS'
municipality_origin_column = 'MUNIORIG'
municipality_destination_column = 'MUNIDEST'
residence_column = 'MUNI_DOM'

tsa = TravelSurveyAnalysis(source_folder_path, destination_folder_path,
                           expansion_factor_trip, expansion_factor_person,
                           municipality_origin_column, municipality_destination_column, residence_column)

In [3]:
original_filename = 'od97zona.csv'

In [4]:
'''
Run in the first time for file treatment. If the file '{original_filename}_treated.csv'
already exists on the source folder path, it's not necessary
'''
# tsa.treat_csv_file_generated_from_dbf_and_save(original_filename)

"\nRun in the first time for file treatment. If the file '{original_filename}_treated.csv'\nalready exists on the source folder path, it's not necessary\n"

In [5]:
filename = original_filename[:-4] + '_treated.csv'

data = tsa.read_data(filename)

In [6]:
data

,ZONA,SZ,SZSEQ,MUNI_DOM,DISTRDOM,DTRMUN,ID_DOM,F_DOM,FE_DOM,DOMICIL,TIPO_DOM,TOT_FAM,NO_MORAD,RESULDOM,ID_FAM,F_FAM,FE_FAM,FAMILIA,RESULFAM,NO_MORAF,TP_RMUN,TP_RBAIR,CONDMORA,QT_RADIO,QT_GEL,QT_TV,QT_VIDEO,QT_BANHO,QT_AUTO,QT_ASPIR,QT_MLAVA,QT_EMPRE,QT_MICRO,QT_TEL,QT_CEL,DIA_SEMA,RENDA_FA,CD_RENFA,RENDATRI,ABIPEME,ID_PESS,F_PESS,FE_PESS,PESSOA,SIT_FAM,IDADE,SEXO,SE_ESTUD,GRAU_INS,CD_ATIVI,OCUP_PRI,SET_ATIV,CO_REN_I,VL_REN_I,USA_VTRA,ZONAESC,SZESCOLA,SZESEQ,DISTRESC,MUNIESC,DTRMUESC,ZONATRA1,SZTRAB1,SZT1SEQ,DISTRAB1,MUNITRA1,DTRMUTR1,TRAB1_SN,ZONATRA2,SZTRAB2,SZT2SEQ,DISTRAB2,MUNTRA2,DTRMUTR2,TRAB2_SN,ID_VIAGE,FE_VIA,ZONA_O,SZO,SZOSEQ,DISTRORG,MUNIORIG,DTRMUNO,ID_POLOO,ZONA_D,SZD,SZDSEQ,DISTRD,MUNIDEST,DTRMUND,ID_POLOD,MOTIVO_O,MOTIVO_D,SERVIR_O,SERVIR_D,MODO1,MODO2,MODO3,MODO4,PQ_VIAPE,H_SAIDA,MINSAIDA,ANDA_O,H_CHEG,MINCHEG,ANDA_D,DURACAO,MODOPRIN,TIPO_VG,ID_ORDEM
0,1,2,2,36,80,80,121002,1,9.49620,1002,1,1,1,7,12100201,1,13.53166,1,7,1,8,0,1,0,1,1,1,1,0,0,0,0,0,0,0,4,0,3,851.9,4,1210020101,1,13.16059,1,1,20,1,3,5,1,1,4,3,0,2,12,6,50,49,36,49,191,4,749,72,36,72,2,0,0,0,0,0,0,0,61825,14.90569,3,2,11,80,36,80,0,191,4,749,72,36,72,0,7,2,2,2,4,0,0,0,0,7,30,5,8,20,1,50,4,2,1
1,1,2,2,36,80,80,121002,0,9.49620,1002,1,1,1,7,12100201,0,13.53166,1,7,1,8,0,1,0,1,1,1,1,0,0,0,0,0,0,0,4,0,3,851.9,4,1210020101,0,13.16059,1,1,20,1,3,5,1,1,4,3,0,2,12,6,50,49,36,49,191,4,749,72,36,72,2,0,0,0,0,0,0,0,61826,14.90569,191,4,749,72,36,72,0,3,2,11,80,36,80,0,2,7,2,2,4,0,0,0,0,11,10,1,12,0,1,50,4,2,2
2,1,2,2,36,80,80,121002,0,9.49620,1002,1,1,1,7,12100201,0,13.53166,1,7,1,8,0,1,0,1,1,1,1,0,0,0,0,0,0,0,4,0,3,851.9,4,1210020101,0,13.16059,1,1,20,1,3,5,1,1,4,3,0,2,12,6,50,49,36,49,191,4,749,72,36,72,2,0,0,0,0,0,0,0,61827,14.90569,3,2,11,80,36,80,0,1,2,2,80,36,80,0,7,8,2,2,12,0,0,0,8,12,10,0,12,15,0,5,12,3,3
3,1,2,2,36,80,80,121002,0,9.49620,1002,1,1,1,7,12100201,0,13.53166,1,7,1,8,0,1,0,1,1,1,1,0,0,0,0,0,0,0,4,0,3,851.9,4,1210020101,0,13.16059,1,1,20,1,3,5,1,1,4,3,0,2,12,6,50,49,36,49,191,4,749,72,36,72,2,0,0,0,0,0,0,0,61828,14.90569,1,2,2,80,36,80,0,12,6,50,49,36,49,0,8,4,2,2,12,0,0,0,3,17,30,0,18,20,0,50,12,3,4
4,1,2,2,36,80,80,121002,0,9.49620,1002,1,1,1,7,12100201,0,13.53166,1,7,1,8,0,1,0,1,1,1,1,0,0,0,0,0,0,0,4,0,3,851.9,4,1210020101,0,13.16059,1,1,20,1,3,5,1,1,4,3,0,2,12,6,50,49,36,49,191,4,749,72,36,72,2,0,0,0,0,0,0,0,61829,14.90569,12,6,50,49,36,49,0,1,2,2,80,36,80,0,4,8,2,2,12,0,0,0,3,22,40,0,23,30,0,50,12,3,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199642,389,1,1400,17,0,113,38916706,0,25.40018,6706,1,1,5,7,3891670601,0,19.77687,1,7,5,25,10,2,3,1,2,1,2,1,0,0,0,0,0,0,6,1900,3,1900.0,3,389167060103,0,19.76569,3,4,28,1,1,3,1,4,14,3,0,2,0,0,0,0,0,0,389,1,1400,0,17,113,2,0,0,0,0,0,0,0,12294,22.38662,389,1,1400,0,17,113,0,389,1,1400,0,17,113,0,3,8,2,2,12,0,0,0,8,18,50,0,19,0,0,10,12,3,199643
199643,389,1,1400,17,0,113,38916706,0,25.40018,6706,1,1,5,7,3891670601,0,19.77687,1,7,5,25,10,2,3,1,2,1,2,1,0,0,0,0,0,0,6,1900,3,1900.0,3,389167060104,1,19.76569,4,3,10,2,3,3,8,11,15,2,0,2,389,1,1400,0,17,113,0,0,0,0,0,0,0,0,0,0,0,0,0,0,12295,22.38662,389,1,1400,0,17,113,0,389,1,1400,0,17,113,0,8,4,2,2,12,0,0,0,8,6,55,0,7,0,0,5,12,3,199644
199644,389,1,1400,17,0,113,38916706,0,25.40018,6706,1,1,5,7,3891670601,0,19.77687,1,7,5,25,10,2,3,1,2,1,2,1,0,0,0,0,0,0,6,1900,3,1900.0,3,389167060104,0,19.76569,4,3,10,2,3,3,8,11,15,2,0,2,389,1,1400,0,17,113,0,0,0,0,0,0,0,0,0,0,0,0,0,0,12296,22.38662,389,1,1400,0,17,113,0,389,1,1400,0,17,113,0,4,8,2,2,12,0,0,0,8,12,0,0,12,5,0,5,12,3,199645
199645,389,1,1400,17,0,113,38916706,0,25.40018,6706,1,1,5,7,3891670601,0,19.77687,1,7,5,25,10,2,3,1,2,1,2,1,0,0,0,0,0,0,6,1900,3,1900.0,3,389167060105,1,19.76569,5,3,8,2,3,3,8,11,15,2,0,2,389,1,1400,0,17,113,0,0,0,0,0,0,0,0,0,0,0,0,0,0,12297,22.38662,389,1,1400,0,17,113,0,389,1,1400,0,17,113,0,8,4,2,2,12,0,0,0,8,6,55,0,7,0,0,5,12,3,199646
199646,389,1,1400,17,0,113,38916706,0,25.40018,6706,1,1,5,7,3891670601,0,19.77687,1,7,5,25,10,2,3,1,2,1,2,1,0,0,0,0,0,0,6,1900,3,1900.0,3,389167060105,0,19.76569,5,3,8,2,3,3,8,11,15,2,0,2,389,1,1400,0,17,113,0,0,0,0,0,0,0,0,0,0,0,0,0,0,12298,22.38662,389,1,1400,0,17,113,0,389,1,1400,0,17,113,0,4,8,2,2,12,0,0,0,8,12,0,0,12,5,0,5,12,3,199647

In [7]:
data['FE_VIA'].sum()

31432205.23723

In [8]:
# data_sp = data[(data[municipality_origin_column] == 36) & (data[municipality_destination_column] == 36)]
data_sp = tsa.select_city_data(data, 36, residence=False)

In [9]:
tsa.calculate_distribution(data, municipality_origin_column, False)

     MUNIORIG
36  59.852139
0    18.08492
33   2.349146
15   1.884827
24   1.685475
23   1.641898
32   1.612346
2    1.044343
8     0.83297
37   0.830967
22   0.703241
34   0.696229
9     0.64013
18   0.612581
7    0.546965
38   0.533442
27   0.478344
10   0.455804
26   0.444785
5    0.382175
11   0.381674
13   0.374661
6    0.365645
16   0.331084
17   0.324072
12   0.320065
19    0.30003
30   0.290513
4    0.239923
1    0.237419
3    0.220389
28   0.181821
31   0.169299
20    0.16429
35   0.158279
39   0.157778
21   0.147761
14    0.13624
29   0.129729
25     0.0566

In [10]:
data_sp['FE_VIA'].sum()

18078437.066660002

## Mode share

Columns correspondence:

01 - Ônibus

02 - Ônibus Fretado

03 - Transporte Escolar

04 - Dirigindo Automóvel

05 - Passageiro de Automóvel

06 - Táxi

07 - Lotação/Perua

08 - Metrô

09 - Trem

10 - Moto

11 - Bicicleta

12 - A Pé

13 - Outros

In [11]:
extended_mode_column = 'MODOPRIN'
extended_mode_index_map = {1: '01 - Ônibus', 2: '02 - Ônibus Fretado', 3: '03 - Transporte Escolar',
                  4:'04 - Dirigindo Automóvel', 5: '05 - Passageiro de Automóvel',
                  6: '06 - Táxi', 7: '07 - Lotação/Perua', 8: '08 - Metrô',
                  9: '09 - Trem', 10: '10 - Moto', 11: '11 - Bicicleta',
                  12:'12 - A Pé', 13: '13 - Outros'}
df_modes = tsa.calculate_distribution(data, extended_mode_column, expansion_factor_trip, extended_mode_index_map)
df_modes

                                 FE_VIA
MODOPRIN_new
01 - Ônibus                   22.448420
02 - Ônibus Fretado            1.468969
03 - Transporte Escolar        1.308606
04 - Dirigindo Automóvel      20.452408
05 - Passageiro de Automóvel  10.205113
06 - Táxi                      0.328953
07 - Lotação/Perua             0.636393
08 - Metrô                     5.399701
09 - Trem                      2.063176
10 - Moto                      0.463380
11 - Bicicleta                 0.516861
12 - A Pé                     34.398609
13 - Outros                    0.309411

In [12]:
collective_filter = ['01 - Ônibus', '02 - Ônibus Fretado', '03 - Transporte Escolar',
                    '07 - Lotação/Perua', '08 - Metrô', '09 - Trem']

individual_filter = ['04 - Dirigindo Automóvel', '05 - Passageiro de Automóvel',
                    '06 - Táxi', '10 - Moto', '13 - Outros']
walk_filter = ['12 - A Pé']
bike_filter = ['11 - Bicicleta']

In [13]:
mode_column = 'TIPO_VG'
mode_index_map = {1: 'Collective', 2: 'Individual', 3: 'On foot'}
tsa.calculate_distribution(data, mode_column, expansion_factor_trip, mode_index_map)

                FE_VIA
TIPO_VG_new
Collective   33.320241
Individual   32.281150
On foot      34.398609

In [14]:
df_modes.loc[collective_filter].sum()

FE_VIA    33.325264
dtype: float64

In [15]:
df_modes.loc[individual_filter].sum() + df_modes.loc[bike_filter].sum()

FE_VIA    32.276127
dtype: float64

In [16]:
df_modes.loc[walk_filter].sum()

FE_VIA    34.398609
dtype: float64

In [17]:
personalized_mode_index_map = {}

for item in collective_filter:
    personalized_mode_index_map[item] = 'Collective'
for item in individual_filter:
    personalized_mode_index_map[item] = 'Individual'
for item in walk_filter:
    personalized_mode_index_map[item] = 'On foot'
for item in bike_filter:
    personalized_mode_index_map[item] = 'Bicycle'

personalized_mode_index_map

{'01 - Ônibus': 'Collective',
 '02 - Ônibus Fretado': 'Collective',
 '03 - Transporte Escolar': 'Collective',
 '07 - Lotação/Perua': 'Collective',
 '08 - Metrô': 'Collective',
 '09 - Trem': 'Collective',
 '04 - Dirigindo Automóvel': 'Individual',
 '05 - Passageiro de Automóvel': 'Individual',
 '06 - Táxi': 'Individual',
 '10 - Moto': 'Individual',
 '13 - Outros': 'Individual',
 '12 - A Pé': 'On foot',
 '11 - Bicicleta': 'Bicycle'}

In [18]:
convert_to_new_mode_index_map = {1: 1, 2: 5, 3: 5, 4: 2, 5: 2, 6: 2, 7: 5, 8: 1, 9: 1, 10: 5, 11: 3, 12: 4, 13: 5}
new_mode_index_map = {1: 'Public Transportation', 2: 'Car', 3: 'Bicycle', 4: 'On foot', 5: 'Other'}

In [19]:
new_mode_column = extended_mode_column + '_reduced'
data_sp[new_mode_column] = data_sp[extended_mode_column].map(convert_to_new_mode_index_map)

In [20]:
df = tsa.calculate_distribution(data_sp, new_mode_column, expansion_factor_trip, new_mode_index_map)
df

                          FE_VIA
MODOPRIN_reduced_new
Bicycle                 0.289694
Car                    31.163052
On foot                33.725005
Other                   3.306770
Public Transportation  31.515479

In [21]:
df = tsa.calculate_distribution(data_sp, extended_mode_column, expansion_factor_trip, extended_mode_index_map)
df

                                 FE_VIA
MODOPRIN_new
01 - Ônibus                   23.136249
02 - Ônibus Fretado            0.557476
03 - Transporte Escolar        1.287439
04 - Dirigindo Automóvel      20.581619
05 - Passageiro de Automóvel  10.095973
06 - Táxi                      0.485460
07 - Lotação/Perua             0.748886
08 - Metrô                     7.650947
09 - Trem                      0.728283
10 - Moto                      0.501114
11 - Bicicleta                 0.289694
12 - A Pé                     33.725005
13 - Outros                    0.211855

In [22]:
pd.options.display.float_format = '{:.0f}'.format

In [23]:
df = tsa.calculate_distribution(data_sp, new_mode_column, expansion_factor_trip, new_mode_index_map, normalize=False)
df

                       FE_VIA
MODOPRIN_reduced_new
Bicycle                 52372
Car                   5633793
On foot               6096954
Other                  597812
Public Transportation 5697506

In [26]:
df.sum() == data_sp[expansion_factor_trip].sum()

FE_VIA    True
dtype: bool

In [24]:
df = tsa.calculate_distribution(data_sp, extended_mode_column, expansion_factor_trip, extended_mode_index_map, normalize=False)
df

                              FE_VIA
MODOPRIN_new
01 - Ônibus                  4182672
02 - Ônibus Fretado           100783
03 - Transporte Escolar       232749
04 - Dirigindo Automóvel     3720835
05 - Passageiro de Automóvel 1825194
06 - Táxi                      87764
07 - Lotação/Perua            135387
08 - Metrô                   1383172
09 - Trem                     131662
10 - Moto                      90594
11 - Bicicleta                 52372
12 - A Pé                    6096954
13 - Outros                    38300

In [25]:
tsa.calculate_distribution(data_sp, mode_column, expansion_factor_trip, mode_index_map)

             FE_VIA
TIPO_VG_new
Collective       34
Individual       32
On foot          34

In [26]:
tsa.calculate_distribution(data_sp, mode_column, expansion_factor_trip, mode_index_map, normalize=False)

             FE_VIA
TIPO_VG_new
Collective  6165157
Individual  5816327
On foot     6096954

In [27]:
pd.reset_option('display.float_format')